<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects List</title>
    <link rel="stylesheet" href="/style.css">  
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BJF2XSZ8LN"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BJF2XSZ8LN');
    </script>
</head>
<body>
    
    <center>
   
        <div class="logo">TRACK<br>T  I  M  E</div>
        <div class="logowork">@ WORK</div>

        

<h2 class="page">New Project Creation</h2>  
      
    <!-- Form to submit a new project -->
    <div>
        <form method="post" action="/create-project">
          
              <label class="page">
                Project Name
                <input name="ProjectName" placeholder="Write the name of the new project to be created.."/>
              </label>
        
            <br> <br>            
            <input class="projectbutton"
              type="submit"
              value="Create Project"
            />
          </form>
    </div>
    <br>


    <!-- Back to homepage -->
    <div class="page">
      <a href="/">Cancel</a>
    </div>
<br>
<h2 class="page">Project List</h2>

<!-- Show all projects -->
<table id="projectData" style="width:400px">
  <thead>
      <tr>
          <th>Project</th>
          <th>Action</th>
        </tr>
  </thead>
  <tbody>
      <% projectdetails.forEach(post => { %>
          <tr>
              <td><%= post.ProjectName %></td>
              <td> <form action="/delete/<%= post.id %>" method="post" onsubmit="return confirm('Do you really want to delete this post?');">
                <button class="activitybutton" type="submit">Delete</button>
            </form></td>
          </tr>
      <% }); %>
  </tbody>
</table>




    </center>
</body>
</html>